body {
  background-color: bisque;
  text-align: center;
  font-family: sans-serif;
  margin: 60px;
}

footer {
  color: brown;
  margin: 0 10px;
}

img {
  margin: 30px auto;
  border-radius: 5px;
  max-width: 100%;
  display: block;
}
